---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import Bento from '../components/Bento.astro';
import SubirArchivo from '../components/SubirArchivo.tsx';
import BotonesAccion from '../components/BotonesAccion.tsx';
---

<Layout title="ERP.IA Vision" description="¡Automatiza el procesado de archivos a tu conveniencia! con nuestra tecnologia basada en IA, ¡resumenes, generacion de archivos y mucho más!">
	
	<main>
		<BotonesAccion/>
		<SubirArchivo/>
		<Bento/>
	</main>
	<Footer/>
</Layout>

<style>

</style>
