---
import Layout from '../layouts/Layout.astro';
import Bento from '../components/Bento.astro';
---
<Layout title="ERP.IA Vision" description="¡Automatiza el procesado de archivos a tu conveniencia! con nuestra tecnologia basada en IA, ¡resumenes, generacion de archivos y mucho más!">
	
	<main>
		<Bento/>
	</main>
	
</Layout>