---
import DragAndDrop from './DragAndDrop.jsx'

---

<div>
  <div class=" flex justify-center animate-fade-up">
    <h2 class="text-white text-2xl font-bold tracking-wide py-10">Arrastra y suelta aquí tus archivos</h2>
  </div>
 
  <DragAndDrop client:load/> 

</div>




